<h1> Interet </h1>
<table>
    <thead>
        <tr>
            <th>titre</th>
            <th>prio?</th>
            <th>creer le</th>
            <th>modifier le</th>
        </tr>
    </thead>

    <tbody>
        <% @interets.each do |interet| %>
            <tr>
                <td> <%=interet.title %> </td>
                <td> <%=interet.prio %> </td>
                <td> <%=interet.created_at%> </td>
                <td> <%=interet.updated_at%> </td>
                <% if admin_signed_in? %>
                    <td> <%= link_to 'Show', interet %> </td>
                    <td> <%= link_to 'Modifié', edit_interet_path(interet) %> </td>
                    <td> <%= link_to 'Supprimé', interet, method: :delete, data: { confirm: 'Confirmé suppression ?'} %> </td>
                <% end%>

            </tr>
        <% end %>
    </tbody>
<table>

<br />
<% if admin_signed_in? %>
    <%= link_to 'New', new_interet_path %>
    <br />
<%end%>
<%= link_to 'CV', home_index_path %>