<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interet.title %>
</p>

<p>
  <strong>prio:</strong>
  <%= @interet.prio %>
</p>

<%= link_to 'Edit', edit_interet_path(@certificat) %> |

<%= link_to 'Back', interets_path %>
